extends layout

block content
	div(id = "wrapper")
		form(name="login-form",class = "login-form", method="post")
			div(class = "header")
				h1= title
			div(class = "content")
				input#inputuser(type="text", placeholder="username", name="user", class = "input username")
				input#inputPassWord(type="password", placeholder="password", name="password", class = "input password")
			div(class = "footer")
				button#btnSubmit(type="submit", class = "button", formaction = "/users/login") Login
				button#btnSubmit(type="submit", class = "button", formaction = "/users/add") Add User
				